body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-outline-success {
  color: yellow;
  border-color: orange;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: white;
  border-color: white;
}
.signup-form{
  padding-top: 100px;
  max-width: 500px;
}
.container{
  max-width: 500px;
  margin-top:200px;
}
margin-bottom-50px{
  margin-bottom:50px;
}


